body {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
}


span {
    display: inline-block;
}

.card-container {
    display: block;
    position: relative;
    margin: 8px auto 0;
    width: 60%;
    min-width: 632px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
    background: #fff;
}

.card-head {
    display: block;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 24px;
    left: 24px;
    background-position: center center;
    background-repeat: no-repeat;
}

.card-main-content {
    padding-top: 27px;
    margin-left: 88px;
}

.card-title {
    display: inline-block;
    font-size: 18px;
}

.title {
    text-decoration: none;
}

.title:hover {
    color: #00b5e5;
}

.card-time {
    display: block;
    padding-top: 4px;
    font-size: 12px;
    color: #99a2aa;
}

.card-content {
    display: block;
    font-size: 15px;
}

.card-button-bar {
    display: flex;
    color: #99a2aa;
    fill: #99a2aa;
    padding: 8px 0;
}

.card-button {
    display: flex;
    width: 92px;
}

.button-icon {
    width: 20px;
}

.num {
    padding-left: 3px;
    padding-top: 2px;
}